<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/styles.css"> -->
    <link rel="stylesheet" href="/static/indexstyles.css">
    
    <title>Home Page</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="\login">Login</a></li>
                <li><a href="\signup">Sign Up</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Welcome to Skill Farmer</h1>
            <p>Your trusted source for all things amazing.</p>
            <a href="/signup" class="cta-button">Get Started</a>
        </section>

        <section class="about-us">
            <h2>About Us</h2>
            <p>We are dedicated to providing top-notch services and solutions.</p>
        </section>

        <section class="contact-us">
            <h2>Contact Us</h2>
            <p>Reach out to us for any inquiries or assistance.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Our Website. All rights reserved.</p>
    </footer>
</body>
</html>
