<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="\static\logsignstyles.css">
    <script src="\static\indexscript.js" defer></script>
    <title>Login Page</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="phoneno">Mobile no. :</label>
            <input type="phoneno" id="phoneno" placeholder="4563XXXX12" name="phoneno"><br><br>

            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="Password" name="password"><br><br>

            <input type="submit" value="Login"><br>
            <p align="center">New to SkillFarmer? <a href="\signup">Sign Up</a></p>
        </form>
    </div>
</body>
</html>
